<header>
  <nav>
    <a href=<%= test_path %>><img src="http://imgur.com/IpMWMLg.jpg" id="logo" ></a>

    <ul>
      <% if !logged_in? %>
      <%= link_to "Sign Up", new_user_path, :class => "nav_link" %>
      <%= link_to "Log In", users_path, :class => "nav_link" %>
      <% end %>

      <% if logged_in? %>
      <span class="left_nav"> Logged in as <%=current_user.name%> </span>
      <%= link_to "GraviRate!", user_ratings_path(current_user), :class => "nav_link"%>
      <%= link_to "Sign Out", sign_out_path(current_user), :class => "nav_link"%>
      <% end %>
    </ul>
  </nav>
</header>
