

<%= form_for :graph do |f| %>
Pick a User
<%= collection_select(:user, :rating_user_id, User.all, :id, :name) %>
<br>
Pick a Skill
<%= collection_select(:skill_1, :trait_id, Trait.all, :id, :name) %>
<br>
Pick a Second Skill
<%= collection_select(:skill_2, :trait_id, Trait.all, :id, :name) %>
<br>
<%= f.submit "Gravitate"%>
<% end %>


<div id="scatter-load"></div>

