<h1> Hi Everyone! </h1>
<%= @user.name %>
<%= form_for(@user, url: user_ratings_path(@user, action: "create"), method: :post) do |f| %>
  <% @ratings.each do |rating| %>
    <%= fields_for rating do |r| %>
      <%= r.label rating.trait.name %>
      <%= r.range_field :value, :in => 0..100 %>
      <%#= r.check_box %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>


