<div class="side_nav">
  <h3 id="rate_others_head">Rate Others</h3>
  <i class="fa fa-caret-square-o-left"></i> fa-caret-square-o-left
</div>

<div class="rate_yourself">
  <h2 id="rate_yourself_head">First Rate Yourself!</h2>

<%= form_for(@ratee, url: user_ratings_path(@ratee, action: "create"), method: :post) do |f| %>
  <%= f.label @ratee.name %><br>
  <% @ratings.each do |rating| %>
    <%= fields_for rating do |r| %>
      <%= r.label rating.trait.name %><br>
      <%= r.range_field :value, :in => 0..100, name: "#{rating.trait.name}[value]", id: rating.trait.name + "_id" %>
      <%= check_box_tag "save_#{rating.trait.name}" %> Save <br>
    <% end %>
  <% end %>
  <%= f.submit :class => 'button_link' %>
<% end %>
</div>





